<h2>Products</h2>
<div id="products"></div>

<form id="form" method="post">
    <p>
        <label for="title" class="form-label">title</label>
        <input type="text" class="form-input" id="title">
    </p>
    <p>
        <label for="description" class="form-label">desription</label>
        <input type="text" class="form-input" id="description">
    </p>
    <p>
        <label for="price" class="form-label">price</label>
        <input type="number" class="form-input" id="price">
    </p>
    <p>
        <label for="category" class="form-label">category</label>
        <input type="text" class="form-input" id="category">
    </p>
    <p>
        <label for="thumbnail" class="form-label">thumbnail</label>
        <input type="text" class="form-input" id="thumbnail">
    </p>
    <p>
        <label for="code" class="form-label">code</label>
        <input type="text" class="form-input" id="code">
    </p>
    <p>
        <label for="stock" class="form-label">stock</label>
        <input type="number" class="form-input" id="stock">
    </p>
    <button id="send" type="button">send</button>

</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>